<!--头部-->
<include file="Public/Admin/top.html"/>

    <!--Content-->
    <div id="content" class="content container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <ol class="breadcrumb">
                        <li><a href="{:U('Admin/Message/messageList')}">在线留言</a></li>

                    </ol>
                </div>
            </div>
        </div>

        <div class="content-box big-box">
            <h4 class="zero-m" align="center">在线留言</h4>
            <div class="table-responsive">
                <table class="table table-hover ">
                    <thead>
                    <tr>
                        <th>操作</th>
                        <th>标题</th>
                        <th>内容</th>
                        <th>电话号码</th>
                        <th>留言时间</th>
                    </tr>
                    </thead>
                    <tbody>

                        <volist name="messageList" id="vo">
                            <tr>
                                <td><a class="btn btn-primary btn-sm u" href="__APP__/Admin/Message/showMessageDetail?id={$vo.id}">修改</a> <a class="btn btn-primary btn-sm r" href="javascript:void(0)" uid="{$vo.id}">删除</a></td>
                                <td>{$vo.title}</td>
                                <td>{$vo.content}</td>
                                <td>{$vo.phone}</td>
                                <td>{$vo.createtime}</td>
                            </tr>

                        </volist>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


<!--Footer-->

<include file="Public/Admin/foot.html"/>

<script type="text/javascript">
    $(window).ready(function(){

        //删除
        $('.btn.btn-primary.btn-sm.r').click(function(){
            var mytr= $(this).parent().parent('tr');
            var id=$(this).attr('uid');
            $.confirm({
                title: '提示！',
                content: '确定要删除这条记录吗？',
                confirm: function(){
                    $.ajax({
                        url:'__APP__/Admin/Message/removeMessage',
                        data:{"id":id},
                        type:'post',
                        success:function(msg){
                            if(msg.status==1){
                                mytr.remove();
                                $('body').overhang({
                                    type: 'success',
                                    message: '删除成功'
                                });
                            }else {
                                $('body').overhang({
                                    type: 'warn',
                                    message: '删除失败'
                                });
                            }
                        }
                    });
                }
            });
        });

        $('#logout').click(function(){
            $.confirm({
                title: '提示！',
                content: '确定要退出登录吗？',
                confirm: function(){
                    $.ajax({
                        url:"__APP__/Admin/Index/logout",
                        data:{},
                        type:"post",
                        success:function(){
                            window.location.href="__APP__/Admin/Index/login";
                        }
                    })
                }
            })
        });
    });

</script>
</body>

</html>