<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Form sdk for UPYUN</title>
</head>
<body>

<form method="post" enctype="Multipart/form-data" id="formData">
  <input type="hidden" name="policy" id="policy"/>
  <input type="hidden" name="signature" id="signature" />
  <input type="hidden" name="action" id="action" />
  <input type="file" name="file" />
  <!--<input type="submit" />-->
</form>
<input type="button" id="btnUpload" value="上传">
<input type="text" id="img">
<!--<script src="http://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>-->
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.js"></script>
<script type="text/javascript">
  $(window).ready(function(){
    $.ajax({
      url:"__APP__/Admin/Upload/createConfig",
      data:{},
      type:'post',
      success:function(msg){
         var action=msg.action;
        var policy=msg.policy;
        var signature=msg.sign;
        //$("#formData").attr('action',action);
          $("#action").val(action);
        $("#policy").val(policy);
        $("#signature").val(signature);
      }
    });

      $("#btnUpload").click(function(){
//          var formData=$("#formData").serializeArray();
          var formData = new FormData($("#formData")[0]);
          $.ajax({
              url:"http://v0.api.upyun.com/wojian",
              data:formData,
              type:'post',
              /*必须false才会避开jQuery对 formdata 的默认处理XMLHttpRequest会对 formdata 进行正确的处理 */
              processData: false,
              /*必须false才会自动加上正确的Content-Type */
              contentType : false,
              success:function(msg){
                  var obj = $.parseJSON(msg);
                  var pic = obj.url;
                  var myurl = " http://wojian.b0.upaiyun.com";
                  alert(myurl+pic);
                  $("#img").val(myurl+pic);
              },erroe:function(){
                  alert('no');
              }
          });
      })
  })
</script>
</body>
</html>