<!--头部-->
<include file="Public/Admin/top.html"/>

    <!--Content-->
    <div id="content" class="content container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <ol class="breadcrumb">
                        <li><a href="__APP__/Admin/User/userList">广告管理</a></li>
                        <li class="active">添加广告</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-box big-box">
            <h4 class="zero-m" align="center">添加广告</h4>
            <div class="table-responsive">
                <form method="post" id="advertisementForm" enctype="multipart/form-data">
                <table class="table table-bordered">
                        <tr>
                            <th>标题</th>
                            <td><input type="text" name="ggao_biaoti"  required="required"></td>
                            <th>链接</th>
                            <td><input type="text" name="ggao_lianjie" ></td>
                            <th>图片</th>
                            <td><input type="file" name="ggao_tupian" ></td>
                        </tr>
                        <tr><td colspan="6" align="center"><input type="submit" value="添加" id="editUser" class="btn btn-primary btn-sm"></td></tr>
                </table>
                </form>
            </div>
        </div>
    </div>

</div>
<!--Footer-->
<include file="Public/Admin/foot.html"/>

<script type="text/javascript">
    $(window).ready(function(){
        $("#advertisementForm").submit(function(){

            var formData = new FormData($("#advertisementForm")[0]);
//            var dataForm=$(this).serialize();
            $.ajax({
                url:"__APP__/Admin/Advertisement/addAdvertisement",
                data:formData,
                type:'post',
                /*必须false才会避开jQuery对 formdata 的默认处理XMLHttpRequest会对 formdata 进行正确的处理 */
                processData: false,
                /*必须false才会自动加上正确的Content-Type */
                contentType : false,
                success:function(msg){
                    if(msg.status==1){
                        $('body').overhang({
                            type: 'success',
                            message: '添加成功'
                        });
                        setTimeout('window.location.href="__APP__/Admin/Advertisement/advertisementList"', 1500);
                    }else{
                        $('body').overhang({
                            type: 'warn',
                            message: '添加失败'
                        });
                    }
                }
            });
            return false;
        });

        $('#logout').click(function(){
            $.confirm({
                title: '提示！',
                content: '确定要退出登录吗？',
                confirm: function(){
                    $.ajax({
                        url:"__APP__/Admin/Index/logout",
                        data:{},
                        type:"post",
                        success:function(){
                            window.location.href="__APP__/Admin/Index/login";
                        }
                    })
                }
            })
        });
    });

</script>
</body>

</html>