<!--头部-->
<include file="Public/Admin/top.html"/>

    <!--Content-->
    <div id="content" class="content container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <ol class="breadcrumb">
                        <li><a href="{:U('Admin/Produts/produtsList')}">产品管理</a></li>
                        <li class="active">产品列表</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-box big-box">
            <h4 class="zero-m" align="center">产品列表</h4>
            <div class="table-responsive" id="ajax_return">

            </div>
        </div>

    </div>

</div>

<!--Footer-->

<include file="Public/Admin/foot.html"/>

<script type="text/javascript">
    $(window).ready(function(){

        ajax_get_table(1);

        $('#logout').click(function(){
            $.confirm({
                title: '提示！',
                content: '确定要退出登录吗？',
                confirm: function(){
                    $.ajax({
                        url:"__APP__/Admin/Index/logout",
                        data:{},
                        type:"post",
                        success:function(){
                            window.location.href="__APP__/Admin/Index/login";
                        }
                    })
                }
            })
        });
    });
    // ajax 抓取页面 form 为表单id  page 为当前第几页
    function ajax_get_table(form,page){
        cur_page = page; //当前页面 保存为全局变量
        $.ajax({
            type : "POST",
            url:"__APP__/Admin/Produts/ajaxProdutsList?p="+cur_page,//+tab,
//            url:"/index.php?m=Admin&c=New&a=ajaxNewsList&p="+page,//+tab,
            data : {},// 你的formid
            success: function(data){
                $("#ajax_return").html('');
                $("#ajax_return").append(data);
            }
        });
    }
</script>
</body>

</html>