<!--头部-->
<include file="Public/Admin/top.html"/>

    <!--Content-->
    <div id="content" class="content container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <ol class="breadcrumb">
                        <li><a href="{:U('Admin/Produts/produtsList')}">服务项目管理</a></li>
                        <li class="active">服务项目列表</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-box big-box">
            <h4 class="zero-m" align="center">服务项目列表</h4>
            <div class="table-responsive">
                <table class="table table-hover ">
                    <caption><a class="btn btn-primary" href="__APP__/Admin/Service/showAddService">添加服务项目</a></caption>
                    <thead>
                    <tr>
                        <th>操作</th>
                        <th>标题</th>
                        <th>简介</th>
                        <th>图片</th>
                        <th>父ID</th>
                    </tr>
                    </thead>
                    <tbody>

                        <volist name="serviceList" id="vo">
                            <tr>
                                <td><a class="btn btn-primary btn-sm u" href="__APP__/Admin/Service/showServiceDetail?id={$vo.id}">修改</a> <a class="btn btn-primary btn-sm r" href="javascript:void(0)" uid="{$vo.id}">删除</a></td>
                                <td>{$vo.title}</td>
                                <td>{$vo.intro|mb_substr=0,55,'utf-8'}</td>
                                <td><img src="{:CheckImg($vo['img'])}" alt="图片" width="35px" height="35px" title="图片"></td>
                                <td>{$vo.pid}</td>
                            </tr>

                        </volist>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!--Footer-->
<include file="Public/Admin/foot.html"/>

<script type="text/javascript">
    $(window).ready(function(){

        //删除
        $('.btn.btn-primary.btn-sm.r').click(function(){
            var mytr= $(this).parent().parent('tr');
            var id=$(this).attr('uid');
            $.confirm({
                title: '提示！',
                content: '确定要删除这条记录吗？',
                confirm: function(){
                    $.ajax({
                        url:'__APP__/Admin/Service/removeService',
                        data:{"id":id},
                        type:'post',
                        success:function(msg){
                            if(msg.status==1){
                                mytr.remove();
                                $('body').overhang({
                                    type: 'success',
                                    message: '删除成功'
                                });
                            }else {
                                $('body').overhang({
                                    type: 'warn',
                                    message: '删除失败'
                                });
                            }
                        }
                    });
                }
            });
        });

        $('#logout').click(function(){
            $.confirm({
                title: '提示！',
                content: '确定要退出登录吗？',
                confirm: function(){
                    $.ajax({
                        url:"__APP__/Admin/Index/logout",
                        data:{},
                        type:"post",
                        success:function(){
                            window.location.href="__APP__/Admin/Index/login";
                        }
                    })
                }
            })
        });
    });

</script>
</body>

</html>