<!--头部-->
<include file="Public/Admin/top.html"/>

    <!--Content-->
    <div id="content" class="content container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <ol class="breadcrumb">
                        <li><a href="__APP__/Admin/Service/serviceList">服务项目管理</a></li>
                        <li class="active">修改服务项目</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-box big-box">
            <h4 class="zero-m" align="center">修改服务项目</h4>
            <div class="table-responsive">
                <form method="post" id="serviceForm" enctype="multipart/form-data">
                <table class="table table-bordered">
                    <volist name="serviceInfo" id="vo">
                        <input type="hidden" value="{$vo.id}" name="id">
                        <tr>
                            <th>标题</th>
                            <td><input type="text" name="title" value="{$vo.title}" required="required"></td>
                            <th>父ID</th>
                            <td><input type="text" name="pid" value="{$vo.pid}"></td>

                        </tr>
                        <tr>
                            <th>图片</th>
                            <td>
                                <img src="{:CheckImg($vo['img'])}" alt="图片" width="50px" height="50px">
                            </td>
                            <th>修改图片</th>
                            <td><input type="file" name="img"></td>
                        </tr>
                        <tr>
                            <th>简介</th>
                            <td colspan="3">
                                <textarea name="intro" rows="5" style="width: 100%;">{$vo.intro}</textarea>
                            </td>
                        </tr>
                        <tr><td colspan="4" align="center"><input type="submit" value="修改" id="editUser" class="btn btn-primary btn-sm"></td></tr>
                    </volist>
                </table>
                </form>
            </div>
        </div>
    </div>

</div>
<!--Footer-->
<include file="Public/Admin/foot.html"/>

<script type="text/javascript">
    $(window).ready(function(){
        $("#serviceForm").submit(function(){
//            $dataForm=$(this).serialize();
            var formData = new FormData($("#serviceForm")[0]);
            $.ajax({
                url:"__APP__/Admin/Service/editService",
                data:formData,
                type:'post',
                /*必须false才会避开jQuery对 formdata 的默认处理XMLHttpRequest会对 formdata 进行正确的处理 */
                processData: false,
                /*必须false才会自动加上正确的Content-Type */
                contentType : false,
                success:function(msg){
                    if(msg.status==1){
                        $('body').overhang({
                            type: 'success',
                            message: '修改成功'
                        });
                        setTimeout('window.location.href="__APP__/Admin/Service/serviceList"', 1500);
                    }else{
                        $('body').overhang({
                            type: 'warn',
                            message: '修改失败'
                        });
                    }
                }
            });
            return false;
        });


        $('#logout').click(function(){
            $.confirm({
                title: '提示！',
                content: '确定要退出登录吗？',
                confirm: function(){
                    $.ajax({
                        url:"__APP__/Admin/Index/logout",
                        data:{},
                        type:"post",
                        success:function(){
                            window.location.href="__APP__/Admin/Index/login";
                        }
                    })
                }
            })
        });
    });

</script>
</body>

</html>