<!--头部-->
<include file="Public/Admin/top.html"/>

    <!--Content-->
    <div id="content" class="content container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <ol class="breadcrumb">
                        <li><a href="__APP__/Admin/New/newList">新闻管理</a></li>
                        <li class="active">修改新闻</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-box big-box">
            <h4 class="zero-m" align="center">修改新闻</h4>
            <div class="table-responsive">
                <form method="post" id="newForm">
                <table class="table table-bordered">
                    <volist name="newInfo" id="vo">
                        <input type="hidden" value="{$vo.news_id}" name="id">
                        <tr>
                            <th>标题</th>
                            <td><input type="text" name="title" value="{$vo.title}" required="required"></td>
                            <th>发布者</th>
                            <td><input type="text" name="pulish_sr" value="{$vo.pulish_sr}"></td>
                            <th>点击率</th>
                            <td><input type="text" name="clicked" value="{$vo.clicked}" required="required"></td>
                            <th>栏目ID</th>
                            <td><input type="text" name="lanmu_id" value="{$vo.lanmu_id}"></td>
                            <th>发布时间</th>
                            <td><input type="datetime-local" name="pulish_time" value="{$vo.pulish_time}"></td>
                        </tr>
                        <tr>
                            <th>内容</th>
                            <td colspan="9">
                                <textarea rows="15" style="width: 100%" name="content">{$vo.content}</textarea>
                            </td>
                        </tr>
                        <tr><td colspan="10" align="center"><input type="submit" value="修改" id="editUser" class="btn btn-primary btn-sm"></td></tr>
                    </volist>
                </table>
                </form>
            </div>
        </div>
    </div>

</div>
<!--Footer-->
<include file="Public/Admin/foot.html"/>

<script type="text/javascript">
    $(window).ready(function(){
        $("#newForm").submit(function(){
            $dataForm=$(this).serialize();
            $.ajax({
                url:"__APP__/Admin/New/editNew",
                data:$dataForm,
                type:'post',
                success:function(msg){
                    if(msg.status==1){
                        $('body').overhang({
                            type: 'success',
                            message: '修改成功'
                        });
                        setTimeout('window.location.href="__APP__/Admin/New/newList"', 1500);
                    }else{
                        $('body').overhang({
                            type: 'warn',
                            message: '修改失败'
                        });
                    }
                }
            });
            return false;
        });

        $('#logout').click(function(){
            $.confirm({
                title: '提示！',
                content: '确定要退出登录吗？',
                confirm: function(){
                    $.ajax({
                        url:"__APP__/Admin/Index/logout",
                        data:{},
                        type:"post",
                        success:function(){
                            window.location.href="__APP__/Admin/Index/login";
                        }
                    })
                }
            })
        });
    });

</script>
</body>
</html>